<!--<div class="parent">入力
  <form class="form" [formGroup]="form">
    <select formControlName="" class="work_time" (change)="onChangeCategory($event)">
      <option class="category-select" [value]="null">
      </option>
      <option class="category-list" *ngFor="let category of categories" [value]="category.id">
        {{ category.title }}
      </option>
    </select>
    <div class="select-type" [ngSwitch]=>
    <button routerLink="/create-category">カテゴリの追加</button>
    <button type="button" routerLink="/select-show-type">グラフ表示</button>
  </div>-->
<button routerLink="/show">表示</button>