<div class="parent">業務名
    <input type= "text" name="content" size="30" maxlength="20">
    <!--<select name="work-time">
        <option value="time1" selected>0.5h</option>
        <option value="time2">1h</option>
        <option value="time3">1.5h</option>
        <option value="time4">2h</option>
        </select>-->
        <div *ngFor="let category of categories">{{ category.name }}</div>
        <button class="button" (click)="onShow()">保存</button>
        <div *ngFor="let worktime of worktimes">{{ worktime.time }}</div>
      <button type="button" routerLink="/show">グラフ表示</button>
  </div>